<html>
    <head>
        <meta title="{{"title" | trans}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{"title" | trans}}</title>
        <link rel="stylesheet" href="/static/materialize.min.css">
        <link rel="stylesheet" href="/static/style.min.css?{{ version }}" >
    </head>
    <body>
        <main>
            <div class="container">
                <div class="indent-top center-align">
                    <img id="logo" src="/static/logo.svg" alt="mg-bot" >
                </div>
            {{template "body" .}}
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="footer-copyright">
                    <p>
                        ©
                        <a href="{{"crm_link_url" | trans}}" title="{{"crm_link_title" | trans}}">{{"crm_link_title" | trans}}</a>
                        {{.Year}},
                        <a href="{{"doc_link_url" | trans}}" target="_blank">{{"doc_link_title" | trans}}</a>
                    </p>
                </div>
            </div>
        </footer>
        <script src="/static/jquery-3.3.1.min.js"></script>
        <script src="/static/materialize.min.js"></script>
        <script src="/static/script.js?{{ version }}"></script>
    </body>
</html>
